html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes the full height */
  background-color: #ffead7;
  font-family: "Fira Sans";
  font-weight: 300;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo-search {
  margin-top: 200px;
  margin-bottom: 40px;
}

.title {
  margin-top: 40px;
  font-size: 80px;
  letter-spacing: 0.08em;
  font-family: "Prata";
  font-weight: 400;
  font-style: normal;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 500px; /* Adjust width */
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 24px; /* Rounded edges for the input */
  border: 1px solid #dfe1e5; /* Light gray border */
  outline: none; /* Remove default outline */
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); /* Subtle shadow */
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  background-color: #fff7f0;
}

.search-input:focus {
  border: 1px solid #4285f4; /* Google blue border on focus */
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.5); /* Slightly darker shadow */
}

.search-button {
  margin-left: 10px;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  background-color: #fdd6b1;
  color: black;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  transition: background-color 0.2s ease-in-out;
  font-family: "Prata";
  font-weight: 600;
  font-style: bold;
}

search-button:hover {
  background-color: #ffc58f;
}

.container {
  margin-top: 40px;
  display: flex; /* This puts the panels side by side */
  justify-content: space-between; /* Optional: Adds space between panels */
  width: 100%; /* Full width of the container */
  height: auto; /* Full viewport height for vertical panels */
  min-width: 640px;
}

.panel {
  flex: 1; /* Each panel takes up equal space */
  padding: 10px;
  margin: 0 10px; /* Optional: Adds space between panels */
  background-color: #ffe3c9; /* Panel background color */
  font-size: 20px;
  height: auto; /* Full viewport height for vertical panels */
  border-radius: 12px;
  margin-bottom: 20px;
}

.panel-header {
  font-family: "Prata";
  font-weight: 600;
  font-style: normal;
}
.big-num {
  margin: 0 0 0 0;
  font-size: 180px;
  font-family: "Prata";
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heatmap {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
}

.separator {
  border: none; /* Remove default border */
  height: 1px; /* Thickness of the line */
  background-color: #ffffff; /* Color of the line */
  margin: 40px 20px; /* Space above and below the line */
}

.times {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Prata";
  font-weight: 600;
  font-style: normal;
}
