body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  border-radius: 15px;
}

.PopupApp {
  width: 300px;
  background-color: white;
  border: none;
}

.PopupApp-main {
  margin-top: 20px;
  text-align: center;
}

.remove-btn {
  cursor: pointer;
}
